.ProjectCard {
  background-color: var(--bg-secondary);
  padding: 20px;
  border-radius: 8px;
  border-left: 5px solid var(--accent-cyan);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  position: relative;
}

.ProjectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 206, 209, 0.3);
  border-left-color: var(--accent-green);
}

.ProjectCard h3 {
  color: var(--accent-cyan);
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding: 0 27px;
}

.ProjectCard p {
  flex-grow: 1;
  margin-top: 10px;
  font-size: 0.95rem;
  color: #A9A9A9;
  line-height: 1.4;
}
