.TasksPage {
    padding: 20px;
}

.TasksPage__Header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2430;
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid var(--accent-cyan);
}

.TasksPage__Header > button {
    font-size: 1.2rem;
    padding: 12px 25px;
}

.Tasks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}

.ProjectsPage > span {
    display: block;
    margin-top: 30px;
    font-size: 1.2rem;
    color: var(--text-primary);
    text-align: center;
}

.task-filter input {
    margin: 0;
}
