.TasksPage {
  padding: 20px;
}

.TasksPage > button {
  margin-bottom: 30px;
  font-size: 1.2rem;
  padding: 12px 25px;
}

.Tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.ProjectsPage > span {
  display: block;
  margin-top: 30px;
  font-size: 1.2rem;
  color: var(--text-primary);
  text-align: center;
}
